// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Awesome
@import "node_modules/font-awesome/scss/font-awesome";

.btn-success {

}

.btn-warning {
    color: white;
    background-color: orange;
    border-color: orange;
    &:hover {
        color: white;
        background-color: #d08d12;
        border-color: #d08d12;
    }
}

.btn-danger {

}

.single-post-category {
    border: 1px solid #7f7f7f;
    background-color: #7f7f7f;
    color: white;
}

.single-post-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
}

.single-post-title {
    font-size: 40px;
    font-weight: 900;
}

.single-post-info {
    font-size: 19px;
    color: #7f7f7f;
}

//.datatable-custom {
//}
@import "datatable";
